<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.com.advproj.testapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission
            android:name="android.permission.SET_WALLPAPER"
            />

    <uses-permission
            android:name="android.permission.RECEIVE_BOOT_COMPLETED"
            />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        //Service
        <service
            android:name=".MyService"
            android:label="My Service">
            <intent-filter>
               <action android:name=".MyService"/>
            </intent-filter>
        </service>

        //Receiver
        <receiver
                android:name=".StartMyServiceAtBootReceiver"
                android:enabled="true"
                android:exported="true"
                android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        //Splash Screen
        <activity
                android:name=".SplashScreen"
                android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        //Menu
        <activity
                android:name=".Menu"
                android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.Menu" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        //MainActivity
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name" >
        </activity>

        //TextPlay
        <activity
                android:name=".TextPlay"
                android:label="@string/app_name" >
        </activity>

        //Camera
        <activity
                android:name=".Camera"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
        </activity>

        //ScrollViewMenu
        <activity
                android:name=".Email"
                android:label="@string/app_name" >
        </activity>

    </application>
</manifest>
